<h1>Patient</h1>

<div>Name: <%= @patient.name %></div>
<div>Appointments: <%= @patient.appointments.size %></div>

<h3>Appointments</h3>
<ul>
<% @patient.appointments.each do |a| %>
  <li>
    <%= a.appointment_datetime.strftime("%B %d, %Y at %k:%M") %>
    <%= link_to a.doctor.name, doctor_path(a.doctor) %>
  </li>
<% end %>
</ul>