<h1>Appointment</h1>

<div><%= @a.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></div>
<div><%= link_to @a.patient.name, patient_path(@a.patient.id) %></div>
<div><%= link_to @a.doctor.name, doctor_path(@a.doctor.id) %></div>